@charset "ISO-8859-1";

html {
	width: 1280px;
	height: 600px;
	margin: 0px 0px 0px 0px;
}

body {
	max-width: 1275px;
	max-height: 595px;
	margin: 2px 2px 2px 2px;
	background-image:
		url('http://localhost:8080/front_end/files/background.png');
}

#container {
	background-color: midnightBlue; 
	width: 500px;
	margin: 150px auto 0px auto;
	border: 1px solid;
	height: 325px;
	border-radius :10px;
}
#container #top {
	background-color: aqua;
	 height : 50px;
	 TEXT-ALIGN : CENTER;
	width: 498px;
	margin: 0px 0px 0px 0px;
	border: 1px solid;
	border-radius :10px;
}
	#container #top p
	{
	padding :0;
	margin :15px;
	font-size :25px;
	}

#container fieldset
{
	margin  : 6px 0px 0px 2px ;
	border-radius :10px;
}

#container legend {
	font-size :20px;
	background-color: white;
	margin : 10px 0px 0px 0px;
	text-align: center;
	border: 1px solid;
	border-radius :10px;
}
form p,form a
{
	color : white;
}
#container button
{
	margin  : 10px 2px 0px 2px ;
}
.footer {
	background-color: aqua;
	margin: 80px 0px 0px 0px;
	border: 1px solid;
	position: absolute;
	width: 1270px;
	height: 25px;
}
.footer table, .footer tr, .footer td {
		text-align : center;
		margin : auto;
		color : red;
}